{% extends 'layout.html.jinja2' %}
{% set menu_section = 'index' %}
{% block title %}Portail{% endblock %}

{#############################################################################}

{% block styles %}
    <style>
      span.wip {
        opacity: 0.38;
      }
      span.wip a {
        pointer-events: none;
      }
      a.column {
        position: relative;
        text-decoration: none;
        color: inherit;

        background-color: #eee;
        padding: 1.5em;
        border-radius: 2em 2em 2em 0.5em;
      }
      a.column:hover,
      a.column:focus {
        outline: none;
        background-color: #eeeb60;
        border-radius: 2em 4em 4em 2.6em;
      }
      img.service_icon {
        display: block;
        margin: 0 auto
      }
    </style>
{% endblock %}

{#############################################################################}

{% block content %}

      <div class="container" style="margin-top: 2%">
        <div class="row">
          <h1>Samedi après-midi <span class="wip">{{ next_saturday }}</span></h1>
          <p>Travail en cours, aide bienvenue, <a href="mailto:contact@samedi.pm">contactez-nous</a> !</p>
        </div>
        <h3>Venez témoigner de vos actions et de comment vous les avez vécues</h3>
        <div class="row" style="margin-top: 5%">

          <a href="https://forum.samedi.pm" class="one-half column slick">
            <h4>Forum</h4>
            <p>
              Rédigez par écrit vos témoignages,
              apportez du soutien à ceux qui ont vécu des violences,
              ou venez simplement discuter.
            </p>
            <img class="service_icon" src="/static/img/forum_icon_200px.png"/>
          </a>

          <a href="https://video.samedi.pm" class="one-half column slick">
              <h4>Vidéos</h4>
              <p>
                Visionnez et publiez des vidéos sur le thème des gilets jaunes : documentaires,
                interviews, chansons, témoignages vidéos prises sur les ronds points ou en manifestation...
              </p>
            <img class="service_icon" src="/static/img/videos_icon_200px.png"/>
          </a>

        </div>
        <div class="row" style="margin-top: 5%">

            <a href="https://reseaujaune.com" class="one-half column slick">
              <h4>Micro-blogging</h4>
              <p>
                Échangez avec d'autres sympatisans sur Mastodon,
                une alternative à Twitter et Facebook dédiée ici
                au mouvement des Gilets Jaunes.
              </p>
              <img class="service_icon" src="/static/img/reseaujaune_icon_200px.png"/>
            </a>

          <div class="one-half column">
            <span class="wip">
            <h4>Partagez vos idées et créations</h4>
            <p>
              Soumettez des propositions de slogan pour aider à la conceptions de pancartes,
              ou bien vous souhaitez trouver des idées ? C'est ici !
            </p>
            <p><i>Section à venir, revenez dans quelques jours ! ;)</i></p>
            </span>
          </div>
        </div>
      </div>

{% endblock %}
